body {
  background: #eee;
  color: #333;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

#content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 20px;
}

.section {
  border-bottom: 1px solid #333;
  padding-bottom: 10px; 
}

.tabs {
  padding: 0px;
  margin: 0px;
}

.tabs li {
  border: 1px solid #333;
  display: inline;
  padding: 3px;
}

a {
  color: #333;
  text-decoration: none; 
}

.login, .signup {
  display: none;
}

.active {
  display: block;
}